@import "pokedex-left";
@import "pokedex-hinge";
@import "pokedex-right";

body {
  background-image: url("../img/Pokemon wallpaper.jpg");
  background-size: 100% 100%;
}

#pokedex-container {
  display: flex;
  height: 95vh;
  justify-content: center;
  margin-top: 0vh;
}

#pokedex-wrapper {
  height: 80%;
  width: 60%;
  display: flex;
  align-items: flex-end;
}

#logo {
  height: 20vh;
}

#wallpaper {
  height: 100%;
  width: 100%;
}

