@keyframes unsetAnimation {
  0% {
    content: '  .  ';
  }
  33% {
    content: '  .  .  ';
  }
  66% {
    content: '  .  .  .  ';
  }
  99% {
    content: '  .  ';
  }
}

@keyframes loading {
  0% {
    content: 'loading sound _';
  }
  100% {
    content: 'loading sound  ';
  }
}

@keyframes loading-done {
  0% {
    content: 'press to play _';
  }
  100% {
    content: 'press to play  '
  }
}

@keyframes message-animation {
  0% {
    top: -60px;
  }

  20% {
    top: 25px;
  }

  80% {
    top: 25px;
  }

  100% {
    top: -60px;
  }
}