#pokedex-hinge {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $primary-color;
  width: 5%;
  height: 100%;
}

.hinge-end {
  width: 90%;
  height: 2%;
  background: $primary-color;
  border-radius: 50%;
  border: 0.5vh solid $border-color;
  margin-left: -0.25vh;
}

#hinge-top {
  margin-top: -28%;
}

#hinge-middle {
  width: 90%;
  height: 100%;
  background: $primary-color;
  margin-top: -28%;
  border-left: 0.5vh solid $border-color;
  border-right: 0.5vh solid $border-color;
  margin-left: -0.25vh;
}

#hinge-bottom {
  margin-bottom: -10%;
  background: $shadow-color;
}