<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <meta charset="UTF-8">
    <title>PoCAMon</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="background-image"></div>
<div class="content">
    <div class="logo"><img src="../static/img/logo.png" alt="logo"></div>
    <div class="game-manual">
        <p class="manual-header">Anleitung</p>
        <p class="manual-content">
            Kannst du erraten, um welches Pokémon es sich handelt?<br>
            <br>

            Halte einfach eine Pokémon-Karte des gesuchten Pokémon in die Webcam!<br>
            <br>
            Falls du nicht weiter weißt, kannst du mit dem "Hint" Knopf auf deinem Pokédex einen Hinweis
            erhalten.<br><br>
            Danach musst du jedoch kurze Zeit warten bis ein neuer Hinweis verfügbar ist!
    </div>
    <div class="container">
        <div class="pokedex-container">
            <div class="pokedex">
                <div class="pokedex__left">
                    <div class="message" id="new-hint-message">
                        <p>Du hast einen neuen Hinweis!</p>
                        <div class="new-hint-bars"></div>
                    </div>
                    <div class="top-part-shadow">
                        <div class="top-part">
                            <div class="round big">
                                <div class="round big_medium">
                                    <div class="round big_small"></div>
                                </div>
                            </div>
                            <div class="round small">
                                <div class="round very-small">
                                    <div class="round super-small"></div>
                                </div>
                            </div>
                            <div class="round small">
                                <div class="round very-small">
                                    <div class="round super-small"></div>
                                </div>
                            </div>
                            <div class="round small">
                                <div class="round very-small">
                                    <div class="round super-small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bot-part">
                        <div class="top-container">
                            <div class="webcam-container-shadow">
                                <div class="webcam-container">
                                    <div class="webcam-shadow">
                                        <div class="webcam">
                                            <!-- Webcam feed will go here -->
                                            <img src="{{ url_for('webcam') }}" id="webcam" alt="">
                                        </div>
                                    </div>
                                    <div class="result-shadow">
                                        <div class="result">
                                            <p id="result">
                                                <!-- The detected Pokémon will go in here -->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mid-container">
                            <div class="hint-container">
                                <button class="round" id="hint-button">
                                    <img src="../static/img/hint.png" alt="Hint">
                                </button>
                                <img src="../static/img/HintArrow.png" alt="Hint Arrow">
                            </div>
                            <div class="reload-container">
                                <button class="round" id="reload-button">
                                    <img src="../static/img/reload.png" alt="Reload Page">
                                </button>
                                <img src="../static/img/ReloadArrow.png" alt="Reload Arrow">
                            </div>
                        </div>
                        <div class="bot-container">
                            <div class="status-shadow">
                                <div class="status">
                                    <div id="status-message" class="unset"></div>
                                </div>
                            </div>
                            <div class="dpad-shadow">
                                <div class="dpad">
                                    <div class="round"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pokedex__middle">
                    <div class="pokedex__middle--top"></div>
                    <div class="pokedex__middle--mid">
                        <div class="pokedex__middle--mid--lines"></div>
                    </div>
                    <div class="pokedex__middle--bot"></div>
                </div>
                <div class="pokedex__right">
                    <div class="top-part"></div>
                    <div class="bot-part">
                        <div class="row row-1">
                            <div class="silhouette-container">
                                <div class="hidden finish"><img id="finish-img" src="" alt=""></div>
                                <canvas id="silhouette-hint"></canvas>
                            </div>
                            <div class="cry-container">
                                <div class="top-row">
                                    <div class="status-shadow">
                                        <div class="status" id="sound-status"></div>
                                    </div>
                                </div>
                                <div class="bot-row">
                                    <button id="cry-button">
                                        <img src="../static/img/sound.png" alt="Sound Image">
                                    </button>
                                    <img src="../static/img/speaker.png" alt="Speaker Image">
                                </div>
                            </div>
                        </div>
                        <div class="row row-2">
                            <div class="size-and-color-container">
                                <div class="size" id="size-hint-container">
                                    <p id="size-hint"></p>
                                </div>
                                <div class="color" id="color-hint-container">
                                    <p id="color-hint"></p>
                                </div>
                            </div>
                            <div class="pokedex-hint-container">
                                <p id="pokedex-hint"></p>
                            </div>
                        </div>
                        <div class="row row-3">
                            <div class="type" id="type-1-hint"></div>
                            <div class="type" id="type-2-hint"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message" data-save-message>
    <p>File is being generated ...</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static',filename='js/handlePokemon.js') }}"></script>
<script src="{{ url_for('static',filename='js/handleHints.js') }}"></script>
<script src="{{ url_for('static',filename='js/reloadButton.js') }}"></script>
<script src="{{ url_for('static',filename='js/detectedPokemon.js') }}"></script>
<!--<script src="../static/js/handleHints.js"></script>
<script src="../static/js/detectedPokemon.js"></script>
<script src="../static/js/handlePokemon.js"></script>
<script src="../static/js/reloadButton.js"></script>-->
</body>
</html>