@charset "UTF-8";
@keyframes unsetAnimation {
  0% {
    content: "  .  ";
  }
  33% {
    content: "  .  .  ";
  }
  66% {
    content: "  .  .  .  ";
  }
  99% {
    content: "  .  ";
  }
}
@keyframes loading {
  0% {
    content: "loading sound _";
  }
  100% {
    content: "loading sound  ";
  }
}
@keyframes loading-done {
  0% {
    content: "press to play _";
  }
  100% {
    content: "press to play  ";
  }
}
@keyframes message-animation {
  0% {
    top: -60px;
  }
  20% {
    top: 25px;
  }
  80% {
    top: 25px;
  }
  100% {
    top: -60px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

body {
  overflow: hidden;
}

.background-image {
  background-image: url("../img/Pokemon wallpaper.jpg");
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  filter: blur(10px);
  z-index: -2;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  height: 100vh;
  width: 100%;
}
.content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.content .logo img {
  height: 250px;
  width: auto;
  z-index: -1;
}
.content .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 1300px;
}
.content .container .pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.hint-active {
  transition: all 1s;
  background-color: #31A7F1 !important;
}

.sound-loaded:after {
  transition: all 1s;
  content: "";
  animation: loading-done 2s linear infinite !important;
}

.hidden {
  display: none !important;
}

.big {
  background-color: #199BD3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.big_medium {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 70%;
  margin: 7% 0 0 7%;
  background-color: #2FE7FF;
}

.big_small {
  background-color: #ffffff;
  margin: 15% 0 0 15%;
  width: 30%;
  height: 30%;
}

.small {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.very-small {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 70%;
  margin: 10% 0 0 10%;
}

.super-small {
  margin: 20% 0 0 20%;
  width: 30%;
  height: 30%;
}

.normal, .Normal {
  background-color: #BCBCAB !important;
}
.normal:after, .Normal:after {
  content: "Normal" !important;
}

.kampf, .Kampf {
  background-color: #BC5442 !important;
}
.kampf:after, .Kampf:after {
  content: "Kampf" !important;
}

.flug, .Flug {
  background-color: #669AFF !important;
}
.flug:after, .Flug:after {
  content: "Flug" !important;
}

.gift, .Gift {
  background-color: #AC549A !important;
}
.gift:after, .Gift:after {
  content: "Gift" !important;
}

.boden, .Boden {
  background-color: #DEBC54 !important;
}
.boden:after, .Boden:after {
  content: "Boden" !important;
}

.gestein, .Gestein {
  background-color: #BCAC66 !important;
}
.gestein:after, .Gestein:after {
  content: "Gestein" !important;
}

.käfer, .Käfer {
  background-color: #ABBC1C !important;
}
.käfer:after, .Käfer:after {
  content: "Käfer" !important;
}

.geist, .Geist {
  background-color: #6666BC !important;
}
.geist:after, .Geist:after {
  content: "Geist" !important;
}

.stahl, .Stahl {
  background-color: #ACACBC !important;
}
.stahl:after, .Stahl:after {
  content: "Stahl" !important;
}

.feuer, .Feuer {
  background-color: #FF421C !important;
}
.feuer:after, .Feuer:after {
  content: "Feuer" !important;
}

.wasser, .Wasser {
  background-color: #2F9AFF !important;
}
.wasser:after, .Wasser:after {
  content: "Wasser" !important;
}

.pflanze, .Pflanze {
  background-color: #78CD54 !important;
}
.pflanze:after, .Pflanze:after {
  content: "Pflanze" !important;
}

.elektro, .Elektro {
  background-color: #FFCD30 !important;
}
.elektro:after, .Elektro:after {
  content: "Elektro" !important;
}

.psycho, .Psycho {
  background-color: #FF549A !important;
}
.psycho:after, .Psycho:after {
  content: "Psycho" !important;
}

.eis, .Eis {
  background-color: #78DEFF !important;
}
.eis:after, .Eis:after {
  content: "Eis" !important;
}

.drache, .Drache {
  background-color: #7865EE !important;
}
.drache:after, .Drache:after {
  content: "Drache" !important;
}

.unlicht, .Unlicht {
  background-color: #705442 !important;
}
.unlicht:after, .Unlicht:after {
  content: "Unlicht" !important;
}

.fee, .Fee {
  background-color: #FFACFF !important;
}
.fee:after, .Fee:after {
  content: "Fee" !important;
}

.new-hint-animation {
  animation: new-hint-animation 1s linear;
}

#new-hint-message {
  position: absolute;
  margin-top: 0;
  margin-left: 50px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: margin-top 1s linear;
}
#new-hint-message p {
  background-color: #d7203f;
  border-radius: 5px;
  z-index: 0;
  color: #ffffff;
  font-size: 1.5em;
  padding: 10px 25px;
}

.new-hint-bars {
  width: 100%;
  height: 100px;
  background-color: #d7203f;
  clip-path: polygon(0 0, 20% 0, 20% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 80% 100%, 80% 0);
}

.pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  max-height: 800px;
}
.pokedex__left {
  width: 47%;
  height: 95%;
  background-color: #d7203f;
  border-radius: 20px;
}
.pokedex__left .top-part-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  filter: drop-shadow(0 5px 0 #661521);
}
.pokedex__left .top-part-shadow .top-part {
  background-color: #b40827;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px 0 0 0;
  justify-content: flex-start;
  align-items: flex-start;
  clip-path: polygon(0 0, 0 100%, 50% 100%, 75% 50%, 100% 50%, 100% 0);
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(2) {
  background-color: #11BC30;
  margin-left: 30px;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(2) .very-small {
  background-color: #35EC92;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(2) .very-small .super-small {
  background-color: #FFFFFF;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(3) {
  background-color: #A71056;
  margin-left: 10px;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(3) .very-small {
  background-color: #EC359D;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(3) .very-small .super-small {
  background-color: #FFFFFF;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(4) {
  background-color: #AEA010;
  margin-left: 10px;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(4) .very-small {
  background-color: #ECE535;
}
.pokedex__left .top-part-shadow .top-part .small:nth-child(4) .very-small .super-small {
  background-color: #FFFFFF;
}
.pokedex__left .bot-part {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokedex__left .bot-part .top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  filter: drop-shadow(-5px 5px 0 #818081);
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: #D4D2D4;
  border-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 60%);
  box-shadow: -10px 10px 5px #242424;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container .webcam-shadow {
  width: 80%;
  height: 80%;
  filter: drop-shadow(5px -5px 0 #868586);
  margin-right: 20px;
  margin-top: 15px;
  overflow: hidden;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container .webcam-shadow .webcam {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container .webcam-shadow .webcam img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container .result-shadow {
  width: 70%;
  height: 20%;
  filter: drop-shadow(5px -5px 0 #868586);
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.pokedex__left .bot-part .top-container .webcam-container-shadow .webcam-container .result-shadow .result {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.pokedex__left .bot-part .mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 90%;
}
.pokedex__left .bot-part .mid-container .hint-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 130px;
}
.pokedex__left .bot-part .mid-container .hint-container img {
  width: 25%;
  height: auto;
  opacity: 80%;
  margin-left: 5px;
  margin-top: 70px;
}
.pokedex__left .bot-part .mid-container .hint-container button {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #818081;
  width: 75px;
  height: 75px;
  box-shadow: -4px 4px #242424;
}
.pokedex__left .bot-part .mid-container .hint-container button:active {
  transform: translate(-2px, 2px);
  box-shadow: -2px 2px #242424;
}
.pokedex__left .bot-part .mid-container .hint-container button img {
  width: 35%;
  height: auto;
  opacity: 70%;
  margin: 0;
  pointer-events: none;
}
.pokedex__left .bot-part .mid-container .reload-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pokedex__left .bot-part .mid-container .reload-container img {
  width: 30%;
  height: auto;
  opacity: 80%;
  margin-left: 5px;
}
.pokedex__left .bot-part .mid-container .reload-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #818081;
  box-shadow: -4px 4px #242424;
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
  margin-left: -60px;
  z-index: 1;
}
.pokedex__left .bot-part .mid-container .reload-container button:active {
  transform: translate(-2px, 2px);
  box-shadow: -2px 2px #242424;
}
.pokedex__left .bot-part .mid-container .reload-container button img {
  width: 60%;
  height: auto;
  opacity: 80%;
  margin: 0;
}
.pokedex__left .bot-part .bot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  margin-bottom: 20px;
}
.pokedex__left .bot-part .bot-container .status-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80%;
  filter: drop-shadow(5px -5px 0 #25672C);
}
.pokedex__left .bot-part .bot-container .status-shadow .status {
  width: 100%;
  height: 100%;
  background-color: #56AB64;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pokedex__left .bot-part .bot-container .status-shadow .status .unset:after {
  color: #25672C;
  font-size: 3em;
  font-weight: bolder;
  animation: unsetAnimation 3s linear infinite;
  content: "";
  margin-left: 20px;
  margin-bottom: 10px;
}
.pokedex__left .bot-part .bot-container .dpad-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: auto;
  filter: drop-shadow(-3px 3px 0 #1C1919);
}
.pokedex__left .bot-part .bot-container .dpad-shadow .dpad {
  height: 120px;
  width: 120px;
  background-color: #626262;
  clip-path: polygon(35% 0, 65% 0, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%, 0 35%, 35% 35%);
  border-radius: 50%;
  margin-bottom: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokedex__left .bot-part .bot-container .dpad-shadow .dpad .round {
  width: 30px;
  height: 30px;
  background-color: #444444;
}
.pokedex__middle {
  width: 50px;
  height: 100%;
}
.pokedex__middle--top {
  background-color: #d7203f;
  height: 5%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-left: 3px solid #661521;
  border-right: 3px solid #661521;
  border-top: 3px solid #661521;
}
.pokedex__middle--mid {
  background-color: #242424;
  height: 90%;
  border-left: 3px solid #661521;
  border-right: 3px solid #661521;
}
.pokedex__middle--mid--lines {
  height: 100%;
  width: 100%;
  background-color: #d7203f;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%, 0 12%, 100% 12%, 100% 88%, 0 88%, 0 90%, 100% 90%, 100% 100%, 0 100%);
}
.pokedex__middle--bot {
  background-color: #d7203f;
  height: 5%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 3px solid #661521;
  border-right: 3px solid #661521;
  border-bot: 3px solid #661521;
  margin-top: -1px;
}
.pokedex__right {
  width: 47%;
  height: 95%;
  border-radius: 0 0 20px 0;
}
.pokedex__right .top-part {
  background-color: #d7203f;
  height: 20%;
  width: 100%;
  clip-path: polygon(0 50%, 25% 50%, 50% 100%, 0 100%);
}
.pokedex__right .bot-part {
  background-color: #d7203f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -1px;
}
.pokedex__right .bot-part .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.pokedex__right .bot-part .row-1 {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pokedex__right .bot-part .row-1 .silhouette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  background-color: #313131;
  box-shadow: 3px -3px 0 #171717;
  border-radius: 10px;
}
.pokedex__right .bot-part .row-1 .silhouette-container .finish {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokedex__right .bot-part .row-1 .silhouette-container .finish img {
  width: 80%;
  height: auto;
}
.pokedex__right .bot-part .row-1 .cry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.pokedex__right .bot-part .row-1 .cry-container .top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-bottom: 30px;
}
.pokedex__right .bot-part .row-1 .cry-container .top-row .status-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80%;
  filter: drop-shadow(5px -5px 0 #25672C);
}
.pokedex__right .bot-part .row-1 .cry-container .top-row .status-shadow .status {
  width: 100%;
  height: 100%;
  background-color: #56AB64;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pokedex__right .bot-part .row-1 .cry-container .top-row .status-shadow .status:after {
  color: #25672C;
  font-size: 1.7em;
  font-weight: bolder;
  animation: loading 2s linear infinite;
  content: "loading  ";
  margin-left: 20px;
  margin-bottom: 5px;
}
.pokedex__right .bot-part .row-1 .cry-container .bot-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.pokedex__right .bot-part .row-1 .cry-container .bot-row img {
  width: 30%;
  height: auto;
}
.pokedex__right .bot-part .row-1 .cry-container .bot-row #cry-button {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #818081;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  box-shadow: -4px 4px 0 #171717;
}
.pokedex__right .bot-part .row-1 .cry-container .bot-row #cry-button:active {
  transform: translate(-2px, 2px);
  box-shadow: -2px 2px #242424;
}
.pokedex__right .bot-part .row-1 .cry-container .bot-row #cry-button img {
  width: 80%;
  height: auto;
  opacity: 90%;
}
.pokedex__right .bot-part .row-2 {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.pokedex__right .bot-part .row-2 .pokedex-hint-container {
  width: 100%;
  height: 100%;
  background-color: #313131;
  border-radius: 10px;
  box-shadow: 3px -3px 0 #171717;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  color: white;
  font-size: 1.3em;
}
.pokedex__right .bot-part .row-2 .pokedex-hint-container p {
  padding: 20px 30px;
}
.pokedex__right .bot-part .row-2 .size-and-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokedex__right .bot-part .row-2 .size-and-color-container .size {
  width: 75px;
  height: 75px;
  background-color: #313131;
  box-shadow: 3px -3px 0 #171717;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #ffffff;
}
.pokedex__right .bot-part .row-2 .size-and-color-container .color {
  width: 75px;
  height: 75px;
  background-color: #313131;
  box-shadow: 3px -3px 0 #171717;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #ffffff;
}
.pokedex__right .bot-part .row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  margin-bottom: 20px;
}
.pokedex__right .bot-part .row-3 .type {
  width: 200px;
  height: 60px;
  background-color: #313131;
  border-radius: 10px;
  box-shadow: 3px -3px 0 #171717;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.pokedex__right .bot-part .row-3 .type:after {
  color: #ffffff;
  font-size: 1.8em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.game-manual:hover {
  bottom: 0;
}

.game-manual {
  background: #242424;
  opacity: 95%;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  bottom: -480px;
  right: 20px;
  width: 400px;
  overflow: hidden;
  transition: bottom 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 9;
}
.game-manual .manual-header {
  margin-bottom: 30px;
  font-size: 2em;
}
.game-manual .manual-content {
  font-size: 1.5em;
}

/*# sourceMappingURL=index.css.map */
