.normal, .Normal {
  background-color: #BCBCAB !important;

  &:after {
    content: 'Normal' !important;
  }
}

.kampf, .Kampf {
  background-color: #BC5442 !important;

  &:after {
    content: 'Kampf' !important;
  }
}

.flug, .Flug {
  background-color: #669AFF !important;

  &:after {
    content: 'Flug' !important;
  }
}

.gift, .Gift {
  background-color: #AC549A !important;

  &:after {
    content: 'Gift' !important;
  }
}

.boden, .Boden {
  background-color: #DEBC54 !important;

  &:after {
    content: 'Boden' !important;
  }
}

.gestein, .Gestein {
  background-color: #BCAC66 !important;

  &:after {
    content: 'Gestein' !important;
  }
}

.käfer, .Käfer {
  background-color: #ABBC1C !important;

  &:after {
    content: 'Käfer' !important;
  }
}

.geist, .Geist {
  background-color: #6666BC !important;

  &:after {
    content: 'Geist' !important;
  }
}

.stahl, .Stahl {
  background-color: #ACACBC !important;

  &:after {
    content: 'Stahl' !important;
  }
}

.feuer, .Feuer {
  background-color: #FF421C !important;

  &:after {
    content: 'Feuer' !important;
  }
}

.wasser, .Wasser {
  background-color: #2F9AFF !important;

  &:after {
    content: 'Wasser' !important;
  }
}

.pflanze, .Pflanze {
  background-color: #78CD54 !important;

  &:after {
    content: 'Pflanze' !important;
  }
}

.elektro, .Elektro {
  background-color: #FFCD30 !important;

  &:after {
    content: 'Elektro' !important;
  }
}

.psycho, .Psycho {
  background-color: #FF549A !important;

  &:after {
    content: 'Psycho' !important;
  }
}

.eis, .Eis {
  background-color: #78DEFF !important;

  &:after {
    content: 'Eis' !important;
  }
}

.drache, .Drache {
  background-color: #7865EE !important;

  &:after {
    content: 'Drache' !important;
  }
}

.unlicht, .Unlicht {
  background-color: #705442 !important;

  &:after {
    content: 'Unlicht' !important;
  }
}

.fee, .Fee {
  background-color: #FFACFF !important;

  &:after {
    content: 'Fee' !important;
  }
}